$black: #24292e;
$white: #fff;
$textColorWhite: #f2f2f3;
$superDarkGrey: #484f57;
$grey: #b5babf;
$darkGrey: #959da5;
$lightGrey: #fafbfc;
$blue: #1277eb;
$green: #28a745;

$shadow: 0 1px 5px #eaeaea;
